
for prepath in /usr/local/bin /usr/local/sbin /home/linuxbrew/.linuxbrew/bin .local/bin
do
    if [ "${prepath:0:1}" != "/" ]
    then
        prepath=$(expand_path "$prepath" ~)
    fi

    if [[ "$prepath" =~ /(linux)?brew/ ]]
    then
        if [[ "x$SHELL" =~ /bash$ ]]
        then
            echo "Not setting brew paths in bash"
        else
            PATH_rm "$prepath"
            PATH_add "$prepath"
        fi
    else
        PATH_rm "$prepath"
        PATH_add "$prepath"
    fi
done

if [[ -x ~/.rbenv/bin/rbenv ]]
then
    eval "$(~/.rbenv/bin/rbenv init - zsh)"
elif command -v rbenv >/dev/null 2>&1
then
    eval "$(rbenv init - zsh)"
fi

if command -v brew >/dev/null 2>&1
then
  export RUBY_CONFIGURE_OPTS="--with-openssl-dir=$(brew --prefix openssl@1.1)"
fi

gobin=$(expand_path go $HOME)
if [ -d "$gobin" ]
then
  GOPATH="$gobin"
  export GOPATH
fi

: ${GITOPS_TOOLS:=~/src/internal/gitops-tools}
if [ -d "$GITOPS_TOOLS/bin" ]
then
  PATH_rm "$GITOPS_TOOLS/bin"
  PATH_add "$GITOPS_TOOLS/bin"
fi

homebin=$(expand_path bin $HOME)
PATH_rm "$homebin"
PATH_add "$homebin"

export SVDIR="$HOME/service"
export INPUTRC=~/.inputrc
export EDITOR=vim
export MAILNAME=kevin@opensourcealchemist.com
export KUBESEAL_CONFIG_DIR="$HOME/src/internal/kubeseal-config"

if [ -n "$TMUX" ]
then
  opts=$(tmux show-options)
  if [ -z "$opts" ]
  then
    tmux source-file ~/.tmux.conf.goodies
  fi
fi
